/*
    Name: Patrick Neil
    Date: March 30th 2021
    Description: variable page for Javascript project, many HTML elements use these colors
*/

$casinoGreen: #35654d; // I looked up the HEX value to Casino green so I put it into a variable I use it for backgrounds
$casinoBlack: #23212C; // A black shade I used before which looks good with Orange I use it for backgrounds
$blackAccent: black; // black accent color I use to contrast to green
$casinoOrange: #FF7300; // an accent Orange hue that looks good on Casino Black
$casinoRed: #972a27; // A secondary red accent color that I found looking up HEX values for Casino red
$lighterRed: crimson; // I use this accent where a lighter red is needed like popups